<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Listagem de Tarefas</title>
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" >
</head>
<body>
	<div th:replace="fragmentos/fragmentos :: cabecalho"></div>
	<div class="container">
		<h3>Listagem de Tarefas</h3>
		<a class="btn btn-success" href="/tarefas/inserir">Inserir uma Tarefa</a>
		<div th:each="tarefa : ${tarefas}" style="margin: 10px">
			<div class="card bg-light mb-3">
				<div class="card-header" th:text="${tarefa.titulo}"></div>
				<div class="card-body">
					<p class="card-text" th:text="${tarefa.descricao}"></p>
					<p class="card-text" th:text="${'Data de Expiração: ' + #dates.format(tarefa.dataExpiracao, 'dd/MM/yyyy')}"></p>					
				</div>
				<div class="card-footer bg-light">
					<p>
						<a th:if="${!tarefa.concluida}" th:href="@{/tarefas/concluir/{id}(id = ${tarefa.id})}" class="btn btn-primary">Concluir</a>
						<a th:href="@{/tarefas/alterar/{id}(id = ${tarefa.id})}" class="btn btn-warning">Alterar</a>						
						<a th:href="@{/tarefas/excluir/{id}(id = ${tarefa.id})}" class="btn btn-danger">Excluir</a>
					</p>
				</div>
			</div>
		</div>
	</div>


	<script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>