<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
	<head>
		<meta charset="UTF-8">	
		<title>Página Inicial</title>
		<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
	</head>
	
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">Gerenciador de Tarefas</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-app">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbar-app">
				<div class="navbar-nav">
					<a class="nav-item nav-link" href="/">Home</a>
				</div>
			</div>
		</nav>
		
		<div class="container">
			<p>Olá! Seja bem-vindo ao Gerenciador de Tarefas!</p>
			<p th:text="${mensagem}"></p>
		</div>
		
		<script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>
		<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	</body>
</html>